{% include "header.html" %}
{% from 'bootstrap5/form.html' import render_form %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('{{post.img_url}}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ post.title }}</h1>
                    <h2 class="subheading">{{ post.subtitle }}</h2>
                    <span class="meta">Posted by <a href="#">{{ post.author.name }}</a> on {{ post.date }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {{ post.body|safe }}
                {% if current_user.id == 1 %}
                    <div class="d-flex justify-content-end mb-4">
                        <a
                                class="btn btn-primary float-right"
                                href="{{url_for('edit_post', post_id=post.id)}}"
                        >Edit Post</a
                        >
                    </div>
                {% endif %}

                <!-- Comments Area -->
                {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                {{ ckeditor.load() }}
                {{ ckeditor.config(name='comment') }}
                <div class="comment">
                    {% if post.comments: %}
                    <ul class="commentList">
                        {% for comment in post.comments: %}
                        <li>
                            <div class="commenterImage">
                                <img src="{{ comment.author.email | gravatar }}"/>
                            </div>
                            <div class="commentText">
                                <p>{{ comment.text|safe }}</p>
                                {% if current_user.id == comment.author_id %}
                                    <span class="date sub-text">From You</span>
                                {% else: %}
                                    <span class="date sub-text">From {{ comment.author.name }}</span>
                                {% endif %}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</article>

{% include "footer.html" %}
